@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@font-face {
    font-family: 'keep_on_truckinregular';
    src: url('keep-on-truckin.regular.woff2') format('woff2'),
         url('keep-on-truckin.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image : url('./34147.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    display:flex;
    max-height: 370vh;
}

img {
    max-width: 100%;
    
}   

.container{
    width: 1400px;
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
    justify-content: center;
    margin: 0 auto;
    transition: width .1s;
    overflow: hidden;
    margin: 0;
    background-color: #fff;
    border-radius : 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

}

header {
   padding: 1rem;
   display: flex; 
   align-items: center;
   justify-content: center;
}

h3{
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

header input {
    border: none;
    padding: 1rem 12rem;
    border: none;
    background-color: #eee;
    align-items: left;
    outline: none;
}

header button {
    background-color: transparent;
    padding: 1rem 1rem;
    border: none;
    font-size: 1.5rem;
}
 
header button:hover{
    cursor: pointer;
 }

.fav-container {
    display: flex;
    padding: 1rem;
    
}

.fav-meals {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
}
 .fav-meals li{
    object-fit: cover;
    border: 40%;
    padding: 0;
    text-align: center;
    font-weight: 1000;    
 }

.fav-meals li img{
  width: 400px;
  position: relative;
  height: 400px;
  border-radius: 50%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  margin: auto;  
}

.meal{
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #3333331a;
    margin: 5rem ;
}

.meals .meal-header {
    position: relative;
}

.meals .meal-header .random{
    position: absolute;
    top: 15px;
    background-color: #fff;
    
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 80;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.meal-body h4{
    margin: 0;
}

.meal-body .fav-btn{
    border: none;
    font-size: 1.2rem;
    color: rgb(202, 200, 200);
    cursor: pointer;
    background-color: transparent;
}

.meal-body .fav-btn.active {
    color: rebeccapurple;

}
